name: Go Build & Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.6'

    - name: Build Linux Binary
      env:
        GOOS: linux
        GOARCH: amd64
        CGO_ENABLED: 0
      run: |
        go build -v -o discord-updater -ldflags="-s -w" .
        
        chmod +x discord-updater

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: discord-updater-linux
        path: discord-updater